<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8">
  <LINK rel="STYLESHEET" TYPE="text/css" HREF="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
  <script language='javascript' src='https://cdn.jsdelivr.net/vue/1.0.17/vue.min.js'></script>    
<style>
.pagination li a{
  min-width:50px;
}
.citiesList{
  min-height:200px;
}
a:active, a:focus {
    outline: none ;
}
</style>
</head>
<body>
<div id='app' class='container-fluid'>
	<h1 class='page-header'> Тестовое задание, Новоселов АМ</h1>

	<div class='well well-sm'>
		<h3> Компонент под список городов</h3>
	</div>

	<div id='citiesComponent'>
		<button @click='toggleCities'>toggle cities component</button>
		<cities-component :data="citiesArr" :show='showCities'></cities-component>
		<div v-else>
			Cities hided
		</div>
	</div>

	<div class='well well-sm'>
		<h3> Компонент под город, все города выводятся через компонент</h3>
	</div>
	<div id='cityComponent'>
		<div>
			<button @click='toggleCity'>toggle city component</button>
		</div>
		<div v-show='showCity'>
			City Component :
		</div>
		<div v-for='city in citiesArr' v-if='showCity'>
			<city :city='city' inline-template >
				<span >
					{{ city.id }}
				</span>
				<span>
					{{ city.alias}}
				</span>
			</city>
		</div>
		<span v-else>
			City hided 
		</span>
	</div>

	<div class='well well-sm' >
		<h3> Пагинация, проверено на IE 10+, Crome 49, FF - 44, Opera - 12 </h3>
	</div>

  	<div class='row'>
		<div class='col-md-6'>
          <div class='citiesList'>
			<div v-for='city in citiesArr | limitBy maxOnPage offset' >
				<city :city='city' inline-template >
					<span>
						{{ city.title}} -
					</span>
					<span >
						{{ city.id }}
					</span>
				</city>
			</div>  
         </div>     
			 <paging :cities="citiesArr" :max-on-page="maxOnPage" ></paging>
		</div>
	</div>

</div>

<template id="page">
    <ul class="pagination">   
       <li v-if="active > 0 && totalPages > 5">
            <a href="#" class='btn btn-default' @click.stop.prevent="setActive(active-1)">Предыдущая</a>
        </li>
        <li v-else>
        	<a href="#" class='btn btn-default' disabled="disabled" >Предыдущая</a>
        </li>
        <li v-for="n in numbers" :class="{'active' : n == active}">
            <a href="#" class='btn btn-default' @click.stop.prevent="setActive(n)">{{ n+1 }}</a>
        </li>
        <li v-if="active < totalPages-1 && totalPages > 5">
            <a href="#" @click.stop.prevent="setActive(active+1)">Следующая</a>
        </li>  
        <li v-else>
        	<a href="#" class='btn btn-default' disabled="disabled" >Следующая</a>
        </li>      
    </ul>
</template>


</body>
<script language='javascript'>
	var apiURL='http://pogoda.ngs.ru/api/v1/cities/'
	new Vue({
		el:'#app',
		data: {
			metadata: [],			         
			citiesArr:[],
			maxOnPage:10,
			showCities:false,
			showCity:false,
			activePage:0,
			commits: null
		},
		created: function () {
			this.fetchData()
		},		
		computed:{
			paginationTotalPages:function(){
		            return Math.ceil(this.citiesArr.length / this.maxOnPage);
			},
		   	offset: function() {
      			return this.activePage * this.maxOnPage;
      		}
		},
		methods:{
			toggleCities: function(){
				this.showCities=!this.showCities;
			},
			toggleCity: function(){
				this.showCity=!this.showCity;
			},
			fetchData: function(){
				var xhr = new XMLHttpRequest()
			     var self = this;
			     xhr.open('GET', apiURL);
			     xhr.onload = function () {
			        self.commits = JSON.parse(xhr.responseText);
                    self.citiesArr=self.commits.cities.sort(function(a,b){return (a.title < b.title) ? -1 : (a.title > b.title) ? 1 : 0;});
			     }
			     xhr.send()
			}	
		},
		components:{
			"cities-component":{
			props:{
				data: Array,
				show: Boolean
			},
			//<span v-for="key in city" @click="getCity"> {{ key }};
			template: '<ul v-show="show"><li v-for="city in data" @click="getCity(city)">{{ $index}} {{ city.id }} {{ city.title }} </span></li></ul>',
			methods: {
				getCity:function(city){
					console.log(city);
					this.$parent.selectedCity=city;
				}
			}
		   },
			"city":{
				props:['city','active'],
				methods: {
					getCity:function(){
						this.active=this.city;
					}
				}
			},
			"paging":{
		        data: function() {
		          return {
		            n: 0,
		            active: 0
		          }
		        },
		        created:function(){
		        	var p=this;
					document.addEventListener("keydown", function(e){
							e = e || window.event;
						    if (e.keyCode==39) {
						     	if ( e.ctrlKey == true ) setTimeout(function(){
						     	 p.setActive(p.active+1) 	
						     	}, 10)
						     		//console.log(e.keyCode+' '+e.ctrlKey);
						    }
						    if (e.keyCode==37){
						    	if ( e.ctrlKey == true ) setTimeout(function(){
						     	 p.setActive(p.active-1) 	
						     	}, 10)
						    		//console.log(e.keyCode+' '+e.ctrlKey);
						    }
					    }
					);
		        },
		        template:'#page',
		        props:['cities', 'maxOnPage'],
		        computed:{
		            totalPages: function() {
            			return Math.ceil(this.cities.length / this.maxOnPage);
		        	},
		        	start: function(){
		      			  //console.log("start "+this.active+"; totalPages: "+this.totalPages);
		                  if (this.active < 3 ) {
			                return 0; /// ограничение начала
			              } else if( this.active > this.totalPages - 3){
			              	return this.totalPages-5; /// ограничение конца
			              }else {
			              	return this.active-2; /// переход
			              }
			              
		        	},
		        	end: function(){
		        		//console.log("end "+this.active+"; totalPages: "+this.totalPages);
		                 if (this.totalPages < 5) {
		                    return this.totalPages; /// ограничение начала, вруг в всписке меньше 5
		                } else if (this.active < 3 ){ 
		                	return 5;
		                } else if (this.active > this.totalPages - 3){
		                	return this.totalPages; /// ограничение конца
		                }else {
		                	return this.active + 3; /// переход
		                }
		        	},
			        numbers: function() {
			                var temp = [];
			                for(var i = this.start; i < this.end; i++) {
			                    temp.push(i);
			                }
			                return temp
			            }		        					
				},
				methods: {
		            setActive: function(n){
		            	//console.log(n +' '+this.totalPages -1)
		            	if ( (n <0 ) || (n > this.totalPages -1) )return;
		                this.active = n;
		                this.$dispatch('page-city', this.active);
		            }
		        }
			}	
		},
	    events:{
	        'page-city':function(page) {
	        	this.activePage = page;
	        }
	     }   
	
	})
</script>

</html>